body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: black;
    font-family: sans-serif;
}
#ui {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 18px;
}
